{% extends "base.html" %}
{% block title %}{{ t('auth.forgot_title') }} - {{ t('site.name') }}{% endblock %}
{% block content %}
<div class="form-page">
    <h1>{{ t('auth.forgot_title') }}</h1>
    <form method="post">
        <div class="field">
            <label>{{ t('auth.username_label') }}</label>
            <input type="text" name="username">
        </div>
        <button type="submit" class="btn btn-primary btn-block">{{ t('auth.send_reset_link') }}</button>
    </form>
</div>
{% endblock %}
