{% extends "base.html" %}
{% block title %}{{ t('auth.reset_title') }} - {{ t('site.name') }}{% endblock %}
{% block content %}
<div class="form-page">
    <h1>{{ t('auth.reset_title') }}</h1>
    <form method="post">
        <div class="field">
            <label>{{ t('auth.new_password_label') }}</label>
            <input type="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">{{ t('auth.update_password_btn') }}</button>
    </form>
</div>
{% endblock %}
